audio.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://code.google.com/p/audioadmin/"
           xmlns="http://code.google.com/p/audioadmin/" elementFormDefault="qualified">
    <xs:element name="administratie">
        <xs:complexType>
            <xs:all>
                <xs:element name="nkoArtsen" type="artsenLijst"/>
                <xs:element name="mutualiteiten" type="mutualiteitenLijst"/>
                <xs:element name="hoorapparaten" type="hoorapparatenLijst"/>
                <xs:element name="dossiers" type="dossierLijst"/>
                <xs:element name="instellingen" type="instellingen"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="artsenLijst">
        <xs:sequence>
            <xs:element name="dokter" minOccurs="0" maxOccurs="unbounded" type="entiteit"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mutualiteitenLijst">
        <xs:sequence>
            <xs:element name="mutualiteit" minOccurs="0" maxOccurs="unbounded" type="entiteit"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hoorapparatenLijst">
        <xs:sequence>
            <xs:element name="merk" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="naam" type="xs:string" use="required"/>
                                <xs:attribute name="id" type="xs:int" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="naam" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dossierLijst">
        <xs:sequence>
            <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossier"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dossier">
        <xs:complexContent>
            <xs:extension base="entiteit">
                <xs:all>
                    <xs:element name="aanspreektitel">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Dhr."/>
                                <xs:enumeration value="Mevr."/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="geboortedatum" type="xs:date"/>
                    <xs:element name="aanpassing" type="xs:string"/>
                    <xs:element name="data">
                        <xs:complexType>
                            <xs:all>
                                <xs:element name="onderzoek" minOccurs="0" type="xs:date"/>
                                <xs:element name="proef" minOccurs="0" type="xs:date"/>
                                <xs:element name="nkoRapport" minOccurs="0" type="xs:date"/>
                                <xs:element name="dokterAdv" minOccurs="0" type="xs:date"/>
                                <xs:element name="akkoordMut" minOccurs="0" type="xs:date"/>
                                <xs:element name="aflevering" minOccurs="0" type="xs:date"/>
                                <xs:element name="betaling" minOccurs="0" type="xs:date"/>
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="apparaten" type="klantApparaten"/>
                    <xs:element name="nkoArts">
                        <xs:complexType>
                            <xs:all>
                                <xs:element minOccurs="0" name="brief" type="brief"/>
                            </xs:all>
                            <xs:attribute name="id" type="xs:int"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="mutualiteit">
                        <xs:complexType>
                            <xs:all>
                                <xs:element minOccurs="0" name="brief" type="brief"/>
                            </xs:all>
                            <xs:attribute name="id" type="xs:int"/>
                            <xs:attribute name="aansluiting" type="xs:string"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="brief" minOccurs="0" type="brief"/>
                    <xs:element name="audiometrie" minOccurs="0" type="audiometrie"/>
                    <xs:element name="factuur" minOccurs="0" type="factuur"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="brief">
       <xs:attribute name="datum" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="klantApparaten">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="2" name="apparaat" type="klantApparaat"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="klantApparaat">
        <xs:all>
            <xs:element name="serienummer" type="xs:string"/>
            <xs:element name="prijs" type="xs:float"/>
        </xs:all>
        <xs:attribute name="type" type="xs:int"/>
        <xs:attribute name="plaats" type="plaats"/>
    </xs:complexType>

    <xs:complexType name="instellingen">
        <xs:all>
            <xs:element name="naam" type="xs:string"/>
            <xs:element name="adres" type="adres"/>
            <xs:element name="telefoon" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="gsm" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="email" minOccurs="0" maxOccurs="1" type="email"/>
            <xs:element name="onderschrift" type="xs:string"/>
            <xs:element name="btwnr" type="xs:string"/>
            <xs:element name="rekeningnr" type="xs:string"/>
            <xs:element name="btwpct" type="xs:float"/>
            <xs:element name="recupel" type="xs:float"/>
            <xs:element name="riziv" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="adres">
        <xs:all>
            <xs:element name="straat" type="xs:string"/>
            <xs:element name="gemeente">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="postcode" use="required" type="postcode"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:pattern value=".+@.+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="postcode">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1000"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="entiteit">
        <xs:all>
            <xs:element name="naam" type="xs:string"/>
            <xs:element name="adres" type="adres"/>
            <xs:element name="telefoon" minOccurs="0" maxOccurs="1"/>
            <xs:element name="gsm" minOccurs="0" maxOccurs="1"/>
            <xs:element name="opmerkingen" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:all>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="audiometrie">
        <xs:all>
            <xs:element name="tonale" type="tonaleTesten"/>
            <xs:element name="vocale" type="vocaleTesten"/>
            <xs:element name="localisatie" type="localisatieTesten"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="tonaleTesten">
        <xs:all>
            <xs:element name="lg" type="tonaleTest"/>
            <xs:element name="bg" type="tonaleTest"/>
            <xs:element name="ucl" type="tonaleTest"/>
            <xs:element name="lg" type="tonaleTest"/>
            <xs:element name="bg" type="tonaleTest"/>
            <xs:element name="ucl" type="tonaleTest"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="tonaleTest">
        <xs:sequence>
            <xs:element name="meting" minOccurs="0" maxOccurs="11">
                <xs:complexType>
                    <xs:attribute name="freq" type="xs:int"/>
                    <xs:attribute name="db" type="decibels"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="plaats" type="plaats"/>
    </xs:complexType>

    <xs:complexType name="vocaleTesten">
        <xs:all>
            <xs:element name="zonder" type="vocaleTest"/>
            <xs:element name="met" type="vocaleTest"/>
            <xs:element name="zonder" type="vocaleTest"/>
            <xs:element name="met" type="vocaleTest"/>
            <xs:element name="zonder" type="vocaleTest"/>
            <xs:element name="met" type="vocaleTest"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="vocaleTest">
        <xs:sequence>
            <xs:element name="meting" minOccurs="0" maxOccurs="23">
                <xs:complexType>
                    <xs:attribute name="db1" type="decibels"/>
                    <xs:attribute name="db2" type="decibels"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="plaats" type="plaatsen"/>
    </xs:complexType>

    <xs:complexType name="localisatieTesten">
        <xs:all>
            <xs:element name="zonderHA" maxOccurs="0">
                <xs:complexType>
                    <xs:attribute name="db" type="decibels"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="metHA" maxOccurs="0">
                <xs:complexType>
                    <xs:attribute name="db" type="decibels"/>
                    <xs:attribute name="plaats" type="plaatsen"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="metHA" maxOccurs="0">
                <xs:complexType>
                    <xs:attribute name="db" type="decibels"/>
                    <xs:attribute name="plaats" type="plaatsen"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="metHA" maxOccurs="0">
                <xs:complexType>
                    <xs:attribute name="db" type="decibels"/>
                    <xs:attribute name="plaats" type="plaatsen"/>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="plaats">
       <xs:restriction base="xs:string">
            <xs:enumeration value="links"/>
            <xs:enumeration value="rechts"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="plaatsen">
       <xs:restriction base="xs:string">
            <xs:enumeration value="links"/>
            <xs:enumeration value="rechts"/>
            <xs:enumeration value="beide"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="decibels">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:complexType name="factuur">
        <xs:all>
            <xs:element name="condities">
                <xs:complexType mixed="true">
                    <xs:attribute name="btwpercentage" type="xs:float" use="required"/>
                    <xs:attribute name="riziv" type="xs:float" use="optional"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="extra" type="xs:string"/>
        </xs:all>
        <xs:attribute name="nummer" type="xs:int"/>
        <xs:attribute name="datum" type="xs:date"/>
        <xs:attribute name="vervaldatum" type="xs:date"/>
    </xs:complexType>
</xs:schema>